In [3]:
#Loading the data and merging the two data frames
# import pandas as pd
# data_credits= pd.read_csv("credits.csv")
# data_credits.set_index('id')
# metadata= pd.read_csv("movies_metadata.csv",low_memory=False)
# metadata.set_index('id')
# combined= pd.concat([metadata,data_credits],axis=1)

In [4]:
#importing the libraries
import pandas as pd

#reaidn the credits file which cast and crew information
data_credits= pd.read_csv("credits.csv")

 
#loading the meta data set
metadata= pd.read_csv("movies_metadata.csv",low_memory=False)

#converting the id to numeric type. We may have some values in id which may not be of numeric type
metadata['id'] = metadata['id'].apply(pd.to_numeric, errors='coerce')

 
#performing inner join on the two tables based on id to create a data frame called as combined
combined= pd.merge(metadata,data_credits,on='id',how='inner')
print(combined.shape)
combined.head()

(45538, 26)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [5]:
#We have some null values is overview part
combined['overview'].isnull().any()

True

In [6]:
#importing the libraries
import pandas as pd
import json
from ast import literal_eval
pd.options.display.max_columns = None
pd.options.display.max_rows = None
df=combined
columns=['genres','cast','crew']

#this is function which converts the Json type to a list
def  get_value(x):
    l = []
    if isinstance(x,list):
        for i in x:
               l.append(i['name'])
        return ' '.join(l)
    return []

#using litereval and apply to each row to perform the desired function
for column in columns:
    df[column] = df[column].apply(literal_eval)
    df[column] = df[column].apply(get_value)
    
    

#using the following information for the content based filtering
use_columns=['title','overview','genres','cast','crew']

df2=pd.DataFrame(df,columns=use_columns)

#we are combining all the information we need into a single column called as combined. The data type of the combined column will be of string type

df2['combined'] = df2[df2.columns[1:]].apply(lambda x: ' '.join(x.dropna().astype(str)),axis=1)
print(df2.head())

                         title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  \
0  Led by Woody, Andy's toys live happily in his ...
1  When siblings Judy and Peter discover an encha...
2  A family wedding reignites the ancient feud be...
3  Cheated on, mistreated and stepped on, the wom...
4  Just when George Banks has recovered from his ...

                     genres  \
0   Animation Comedy Family
1  Adventure Fantasy Family
2            Romance Comedy
3      Comedy Drama Romance
4                    Comedy

                                                cast  \
0  Tom Hanks Tim Allen Don Rickles Jim Varney Wal...
1  Robin Williams Jonathan Hyde Kirsten Dunst Bra...
2  Walter Matthau Jack Lemmon Ann-Margret Sophia ...
3  Whitney Houston Angela Bassett Loretta Devine ...
4  Steve Martin Diane Keaton Martin Short Kimberl...

                                                crew  \
0  John Lasseter Joss Whedon Andrew Stanton Joel ...
1  Larry J. Franco Jonathan Hensleigh James Horne...
2  Howard Deutch Mark Steven Johnson Mark Steven ...
3  Forest Whitaker Ronald Bass Ronald Bass Ezra S...
4  Alan Silvestri Elliot Davis Nancy Meyers Nancy...

                                            combined
0  Led by Woody, Andy's toys live happily in his ...
1  When siblings Judy and Peter discover an encha...
2  A family wedding reignites the ancient feud be...
3  Cheated on, mistreated and stepped on, the wom...
4  Just when George Banks has recovered from his ...

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

# we are using the Tfidf Vectorizer to analyse the words

tf_idf = TfidfVectorizer(analyzer='word',min_df=0,stop_words='english')

In [8]:
#Tfdif matrix using the combined column
tf_idf_matrix= tf_idf.fit_transform(df2['combined'])

In [9]:
tf_idf_matrix

<45538x208741 sparse matrix of type '<class 'numpy.float64'>'
	with 3162235 stored elements in Compressed Sparse Row format>

In [10]:
from sklearn.metrics.pairwise import linear_kernel

#finding the cosine similarity between the contenst
cosine= linear_kernel(tf_idf_matrix, tf_idf_matrix)

In [11]:
cosine[0]

array([1.        , 0.0437497 , 0.02118132, ..., 0.02519237, 0.00224   ,
       0.        ])

In [12]:
#Dropping the titles which have same names
ids = pd.Series(df2.index, index=df2['title'])
ids= ids.drop_duplicates()

In [13]:

#the main reccommendation function

def recommendation(title, cosine=cosine):
    indexes = ids[title]
    #cosine similarity
    similarity = list(enumerate(cosine[indexes]))
    #sorting so that those which have highest cosine value comes at the top
    similarity = sorted(similarity, key=lambda x: x[1], reverse=True)
    movie_ids = [i[0] for i in similarity]
    result= df2['title'].iloc[movie_ids]
    #dispa\laying the TOP 5 movies
    result=result[1:5]
    return result

In [14]:
recommendation('GoldenEye')

2976    The World Is Not Enough
1648        Tomorrow Never Dies
2885            Licence to Kill
3891       The Living Daylights
Name: title, dtype: object